@import "./styles/fonts";
@import "./styles/variables";

* {
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, header, nav, section, footer {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-bgc);
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  margin: auto;
  max-width: var(--page-content-width);
}