@import './styles/fonts';
@import './styles/base';
@import './styles/variables';

.section {
   &__title {
      font-size: 2.5rem;
      padding: 0 0.7rem;
   }
   &__description {
      margin: 0.7rem 0 2rem 0;
      padding: 0 0.7rem;
   }
}

.prodacts {
   padding: 3rem 0;
}

.hover-container {
   background-color: #000000cc;
   font-weight: bold;
   color: var(--white-color);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   opacity: 0;
   -webkit-transition: opacity 0.3s;
   -o-transition: opacity 0.3s;
   transition: opacity 0.3s;
   &:hover {
     opacity: 1;
   }
 }

 .btn__enjoy {
   font-size: 1rem;
   text-transform: uppercase;
   margin-top: 1rem;
   padding: 0.7rem 1rem;
   color: #000;
   background-color: var(--white-color);
   border-radius: 20px;
   margin-top: 1rem;
 }

.product-card {
   position: relative;
   margin-bottom: 2rem;
   &:last-child {
      margin-bottom: 0;
   }
}
.product-list .product-card img {
   width: 100%;
   height: 100%;
   display: block;
}

.product-list .product-card .button-container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
       justify-content: space-around;
}

@media (min-width: 760px) {
   .product-card {
      position: relative;
      margin-right: 2rem;
      margin-bottom: 0;
      &:last-child {
         margin-right: 0;
         margin-bottom: 0;
      }
   }
}

@media (min-width: 760px) {
   .product-list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 2px 1fr 2px 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2px;
   }
}

@media (min-width: 980px) {
   .product-list {
      -ms-grid-columns: 1fr 2px 1fr 2px 1fr;
      grid-template-columns: repeat(3, 1fr)
   }
}

.section-content {
   padding: 3rem 0;
   &__card {
      &_right {
         margin-top: 1rem;
         text-align: center;
      }
   }
   &__caption {
      padding: 1rem 0;
   }
   &__text {
      padding: 0 1rem;
   }
}

.section-content__card img {
   width: 100%;
   display: block;
}


@media (min-width: 750px) {
   .section-content__list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1rem 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
   }
}

.contact {
	&__title {
		font-size: 2.1rem;
		text-align: center;
		text-transform: uppercase;
		color: var(--white-color);
		font-weight: 300;
		padding-bottom: 1rem;
	}
}

.contact-elements {
	&__group {
		padding-bottom: 1rem;
	}
	&__control {
		line-height: 2.3;
		padding: 0 0 0 0.9rem;
		font-size: 0.7rem;
		border-radius: 4px;
		border: solid 1px var(--white-color);
      color: var(--white-color);
      font-size: 0.9rem;
      width: 290px;
		outline: 0;
		&_textarea {
         padding-bottom: 2.3rem;
         font-size: 0.9rem;
		}
		&::-webkit-input-placeholder {
			color: rgb(244, 248, 252);
		}
		&:-ms-input-placeholder {
			color: rgb(244, 248, 252);
		}
		&::-ms-input-placeholder {
			color: rgb(244, 248, 252);
		}
		&::placeholder {
			color: rgb(244, 248, 252);
		}
	}
}

input,
textarea {
	background: transparent;
	resize: none;
}

.section-form {
   background-image: url(./../../assets/images/form-bacground.jpg);
   background-repeat: no-repeat;
	background-position: center;
   background-size: cover;
   padding: 3rem 0;
}

.section-form__container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}

.section-form__description {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;

}

.section-contact-info__item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.footer {
   &__copy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding: 1rem 1rem;
      font-size: 0.6rem;
      color: var(--white-color);
      background-color: rgb(0, 0, 0);
   }
   &__link-author {
      color: var(--white-color);
      padding-left: 0.2rem;
      &:hover {
         color: var(--accent-color);
      }
   }
}

.top-line_darken {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   background-color: rgb(0, 0, 0);
}

.top-line__contact {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   padding: 1rem 0;
}
.top-line_darken .top-line__email {
   padding-bottom: 1rem;
}

.top-line_darken .top-line__soc-icon li {
   margin: 1rem 0.8rem;
}
.top-line_darken .top-line__soc-icon img {
   width: 20px;
}

@media (min-width: 760px) {
   .top-line__contact {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
   }
}

@media (max-width: 440px)  {
   .top-line_darken {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 1rem;
   }
   .top-line_darken .top-line__soc-icon li {
      margin: 1rem 1.3rem;
   }
   .top-line__email {
      padding-right: 0;
      padding-bottom: 1rem;
  }
}

.scroll__top {
   display: none;
 }
 
 .scroll__top-icon {
   width: 16px;
 }
 
 .scroll__top_active {
   display: block;
   position: fixed;
   bottom: 150px;
   left: 80%;
   z-index: 2;
   background-color: rgb(17, 40, 64);
   color: var(--white-color);
   cursor: pointer;
   padding: 0.4rem;
   border-radius: 3px;
 }
 
 .scroll__top_active:hover {
   background-color: var(--accent-color);
   -webkit-transition: all 0.6s;
   -o-transition: all 0.6s;
   transition: all 0.6s;
 }


 .section-content {
    background-color: rgb(230, 230, 230);
   &__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
   }
   &__col-left {
      & img {
         width: 50%;
      }
   }
 }
